  .one{
            background:white;
        }
    .one nav{
      width:100%;
    }
@media screen and (max-width:700px)
{
    nav{
      margin-top:0px;
      font-size:30px;
    }
    nav .ex1{
      margin-top:40px;
      font-size:20px;
      padding-left:10px;
    }
    nav .ex2{
      margin-left:10px;
      padding-left:120px;
    }
    nav .ex3{
    
      padding-left:129px;
    }
    nav .ex4{
     
      padding-left:130px;
    }
    .three{
      margin-top:100px;
      width:350px;
    }
    .row #slider{
      height:300px;
    }
}
  .one1{
    background: coral;
  }
.two{
background:black;
font-size:20px;
border:1px dotted red;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.dropdown-menu{
visibility:visible;
}
/*.three{
  background:black;
  height:600px;
  }*/


.bor{
  margin-left:10px;
  padding-bottom:10px;
 
}
.bor1{
  margin-left:10px;
  padding-bottom:10px;
 
}
.bor2{
  margin-left:10px;
  padding-bottom:10px;
  
}
.bor3{
  margin-left:10px;
  padding-bottom:10px;
 
}
.bor4{
  margin-left:10px;
  padding-bottom:10px;
 
}
.bor5{
  margin-left:10px;
  padding-bottom:10px;
  
}
.bor6{
  margin-left:10px;
  padding-bottom:10px;
  
}
.bor7{
  margin-left:10px;
  padding-bottom:10px;
 /* border-bottom: 2px dashed black;*/
}
.twin{
  border:1px dashed black;
  border-radius:20px 20px 20px 20px;
  width:450px;
  height:300px;
  margin-top:30px;
  margin-bottom:30px;
}
.twin1{
  border:1px dashed black;
  border-radius:20px 20px 20px 20px;
  width:450px;
  height:300px;
  margin-top:30px;
  margin-bottom:30px;
}
.fol{
 padding-right:30px;
  width:600px;
  float:right;
  text-align:justify;
  margin-top:0px;

}
.in{
  text-indent:30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style:oblique;
}
.sta{
  width:20px;
  padding-top:10px;
  margin-left:20px;
  background-repeat:repeat;
  
}
.out{
  width:22px;
}
h4{
  font-weight: bold;
  padding-left:40px;
  float:left;
  
}
.ra{
  margin-top:40px;
}
.head{
  margin-bottom:20px;
}
.cor{
  background:#323232;
  position:absolute;
  border:5px solid green;
  padding-top:40px;
  padding-left:80px;
  
}

.hov{
  position:relative;
  display:inline-block;
  float:left;
}
.im{
  width:300px;
  padding-right:40px;
  padding-bottom:30px;
}
.in{
  padding-top:10px;
}
.cor span{
  display:none;
  position:absolute;
  color:white;
  text-align:center;
  
}
b{
  line-height: 30px;
  font-size:30px;
  text-shadow:0px 0px 10px black;
}
.cor .hov:hover span{
  display:block;
  margin-top:-170px;
  margin-left:55px;
}
bolder{
  font-size:30px;
  width:70px;
  text-shadow:0px 0px 10px black;
  color:whitesmoke;
}
.for{
  text-align:center;
  color:blue;
  line-height:20px;
  margin-top:150px;
  margin-right:150px;
  margin-left:450px;
  width:400px;
}

.inp{
  margin-left:39px;
}
.int{
  width:200px;
  margin-top:20px;
margin-right:-50px;
text-align:center;
}

@media screen and (max-width:700px){
  .bor .twin{
    position: absolute;
    margin-top:70px;
    width:150px;
    height:150px;
  }
  .bor .fol .head{
    font-size:15px;
    text-align:center;
  }
  .bor .fol{
    position:relative;
    margin-right:-40px;
    text-align:justify;
    width:200px;
    height:100px;
 
  }
  .bor .edit{
    position: absolute;
    width:50px;
    margin-left:-130px;
    margin-top:-270px;
    float:left;
  }
  .bor h4{
    margin-left:-30px;
    color:rgb(226, 4, 4);
  }

}
@media screen and (max-width:700px){
 
  .bor1{
    margin-top:500px;
  } 
  .bor1 .twin{
    position:absolute;
    margin-top:100px;
    width:150px;
    height:150px;
  }
  .bor1 .fol .head{
    font-size:15px;
    text-align:center;
  }
  .bor1 .fol{
    position:relative;
    margin-right:-40px;
    text-align:justify;
    width:200px;
    height:100px;
 
  }
  .bor1 .edit{
    position: absolute;
    width:50px;
    margin-left:-130px;
    margin-top:-300px;
    float:left;
  }
  .bor1 h4{
    margin-left:-30px;
    color:rgb(226, 4, 4);
  }
}
@media screen and (max-width:700px){
 
  .bor2{
    margin-top:499px;
  } 
  .bor2 .twin{
    position:absolute;
    margin-top:60px;
    width:150px;
    height:150px;
  }
  .bor2 .fol .head{
    font-size:15px;
    text-align:center;
  }
  .bor2 .fol{
    position:relative;
    margin-right:-40px;
    text-align:justify;
    width:200px;
    height:100px;
 
  }
  .bor2 .edit{
    position: absolute;
    width:50px;
    margin-left:-130px;
    margin-top:-260px;
    float:left;
  }
  .bor2 h4{
    margin-top:-5px;
    margin-left:-30px;
    color:rgb(226, 4, 4);
  }
}
@media screen and (max-width:700px){
 
  .bor3{
    margin-top:450px;
  } 
  .bor3 .twin{
    position:absolute;
    margin-top:60px;
    width:150px;
    height:150px;
  }
  .bor3 .fol .head{
    font-size:15px;
    text-align:center;
  }
  .bor3 .fol{
    position:relative;
    margin-right:-40px;
    text-align:justify;
    width:200px;
    height:100px;
 
  }
  .bor3 .edit{
    position: absolute;
    width:50px;
    margin-left:-130px;
    margin-top:-260px;
    float:left;
  }
  .bor3 h4{
    margin-top:-5px;
    margin-left:-30px;
    color:rgb(226, 4, 4);
  }
}
@media screen and (max-width:700px){
 
  .bor4{
    margin-top:450px;
  } 
  .bor4 .twin{
    position:absolute;
    margin-top:60px;
    width:150px;
    height:150px;
  }
  .bor4 .fol .head{
    font-size:15px;
    text-align:center;
  }
  .bor4 .fol{
    position:relative;
    margin-right:-40px;
    text-align:justify;
    width:200px;
    height:100px;
 
  }
  .bor4 .edit{
    position: absolute;
    width:50px;
    margin-left:-130px;
    margin-top:-260px;
    float:left;
  }
  .bor4 h4{
    margin-top:-5px;
    margin-left:-30px;
    color:rgb(226, 4, 4);
  }
}
@media screen and (max-width:700px){
 
  .bor5{
    margin-top:450px;
  } 
  .bor5 .twin{
    position:absolute;
    margin-top:60px;
    width:150px;
    height:150px;
  }
  .bor5 .fol .head{
    font-size:15px;
    text-align:center;
  }
  .bor5 .fol{
    position:relative;
    margin-right:-40px;
    text-align:justify;
    width:200px;
    height:100px;
 
  }
  .bor5 .edit{
    position: absolute;
    width:50px;
    margin-left:-130px;
    margin-top:-260px;
    float:left;
  }
  .bor5 h4{
    margin-top:-5px;
    margin-left:-30px;
    color:rgb(226, 4, 4);
  }
}
@media screen and (max-width:700px){
 
  .bor6{
    margin-top:450px;
  } 
  .bor6 .twin{
    position:absolute;
    margin-top:60px;
    width:150px;
    height:150px;
  }
  .bor6 .fol .head{
    font-size:15px;
    text-align:center;
  }
  .bor6 .fol{
    position:relative;
    margin-right:-40px;
    text-align:justify;
    width:200px;
    height:100px;
 
  }
  .bor6 .edit{
    position: absolute;
    width:50px;
    margin-left:-130px;
    margin-top:-320px;
    float:left;
  }
  .bor6 h4{
    margin-top:-5px;
    margin-left:-30px;
    color:rgb(226, 4, 4);
  }
}
@media screen and (max-width:700px){
 
  .bor7{
    margin-top:500px;
  } 
  .bor7 .twin{
    position:absolute;
    margin-top:60px;
    width:150px;
    height:150px;
  }
  .bor7 .fol .head{
    font-size:15px;
    text-align:center;
  }
  .bor7 .fol{
    position:relative;
    margin-right:-40px;
    text-align:justify;
    width:200px;
    height:100px;
 
  }
  .bor7 .edit{
    position: absolute;
    width:50px;
    margin-left:-130px;
    margin-top:-320px;
    float:left;
  }
  .bor7 h4{
    margin-top:-5px;
    margin-left:-30px;
    color:rgb(226, 4, 4);
  }
}